.resto-auth-body {
  background: url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092?auto=format&fit=crop&w=1950&q=80")
    no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.75);
  margin: 0;
}

.resto-auth-box {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 40px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.resto-auth-box .form-control {
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  color: #fff;
}

.resto-auth-box .form-control::placeholder {
  color: #ccc;
}

.resto-auth-btn {
  background-color: #55d0ec;
  border: none;
  transition: 0.3s;
  color: #000;
}

.resto-auth-btn:hover {
  background-color: #55d0ec;
  color: #fff;
}

.resto-auth-box a {
  color: #00c0eb;
  text-decoration: none;
}

.resto-auth-box a:hover {
  text-decoration: underline;
}